<html>
	<head>
    <title>LottoSite</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="j9cyvg89WOpeAdD91XsRJlzCRP67uuu8H43LsOCrGu1Tz/Y8pWjVW2IteskGc4NdOoa+gejGj+oOTaV4wCJ1Qg==">
    

    <link rel="stylesheet" media="all" href="/assets/application.debug-f79880caa31d7d421a711bb015676b93ef4983bf712339aac672caf24d6f08a8.css" data-turbolinks-track="reload">
    <script src="/packs/js/application-9afcbb5693aa87623e69.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p>
	<h1>
		즉석 로또 번호 생성기
	  </h1>
	  <button type="button" class="btn btn-primary btn-lg" style="
    border-top-width: 10px;
    border-left-width: 10px;
    margin-top: 50px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    margin-left: 20px;
    margin-right: 25px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 36px;
    padding-left: 36px;
    height: 122px;
    width: 152px;
" onclick="window.location.reload()">번호 생성</button>
	<span class="ball_645 lrg ball1"><%= @lotto[0] %></span>
    <span class="ball_645 lrg ball2"><%= @lotto[1] %></span>
    <span class="ball_645 lrg ball2"><%= @lotto[2] %></span>
    <span class="ball_645 lrg ball3"><%= @lotto[3] %></span>
    <span class="ball_645 lrg ball4"><%= @lotto[4] %></span>
    <span class="ball_645 lrg ball4"><%= @lotto[5] %></span>
</p>
	  <ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-qhkl3yvi1v75" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
	
	<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-qhq4qgrbdc8i" 
 data-ad-width   = "250" 
 data-ad-height  = "250"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  

</body>
</html>